<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>View Whisper</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h4>View Whisper</h4>
</div>
<div class="container" style="margin-bottom: 2em;">
  <strong>Recipient's DID:</strong><br/><br/>
  {{keyId}}
</div>
<div class="container">
  <strong>Encrypted Message:</strong><br/><br/>
  {{cipher}}
</div>
</body>
</html>
